# SQL-with-PySpark

Load `chinook` data into PostgreSQL - `pg-data`

- [Chinook_PostgreSql.sql](https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_PostgreSql.sql)

In [1]:
# Making sure to link pyspark to the right Spark folder with findspark
import findspark
import time
from pathlib import Path
from functools import wraps
from pyspark import SparkContext, SparkConf, SQLContext
from pyspark.sql import SparkSession, Window
from pyspark.sql.functions import col, sum, year, row_number, desc
findspark.init('/opt/spark')

### Sugar syntax purpose

In [2]:
class AttributeDict(dict):
    __getattr__ = dict.__getitem__
    __setattr__ = dict.__setitem__
    __delattr__ = dict.__delitem__

## Downloading dependencies

In [3]:
! apt-get install -y curl

Reading package lists... Done
Building dependency tree
Reading state information... Done
curl is already the newest version (7.58.0-2ubuntu3.24).
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.

In [4]:
! curl -O https://jdbc.postgresql.org/download/postgresql-42.6.0.jar

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1056k  100 1056k    0     0   611k      0  0:00:01  0:00:01 --:--:--  611k

In [5]:
spark = SparkSession.builder.appName(
    "SQL-with-PySpark"
).config(
    "spark.jars",
    f"{str(Path.cwd())}/postgresql-42.6.0.jar"
).config(
    "spark.driver.extraClassPath",
    f"{str(Path.cwd())}/postgresql-42.6.0.jar"
).getOrCreate()

## Loading Tables from Relational Database

### Tables:

- Album
- Artist
- Customer
- Employee
- Genre
- Invoice
- InvoiceLine
- MediaType
- Playlist
- PlaylistTrack
- Track

In [6]:
tables = [
    "Album",
    "Artist",
    "Customer",
    "Employee",
    "Genre",
    "Invoice",
    "InvoiceLine",
    "MediaType",
    "Playlist",
    "PlaylistTrack",
    "Track",
]

In [7]:
tmp = {}
for table in tables:
    tmp[table.lower()] = spark.read.format(
        "jdbc"
    ).options(
        url="jdbc:postgresql://pg-data:5433/postgres",
        dbtable=f"chinook.\"{table}\"",
        driver="org.postgresql.Driver",
        user="postgres",
        password="postgres"
    ).load()
df = AttributeDict(tmp)

Py4JJavaError: An error occurred while calling o51.load.
: org.postgresql.util.PSQLException: ERROR: relation "chinook.Album" does not exist
  Position: 15
	at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2713)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2401)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:368)
	at org.postgresql.jdbc.PgStatement.executeInternal(PgStatement.java:498)
	at org.postgresql.jdbc.PgStatement.execute(PgStatement.java:415)
	at org.postgresql.jdbc.PgPreparedStatement.executeWithFlags(PgPreparedStatement.java:190)
	at org.postgresql.jdbc.PgPreparedStatement.executeQuery(PgPreparedStatement.java:134)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.resolveTable(JDBCRDD.scala:61)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRelation$.getSchema(JDBCRelation.scala:210)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:35)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:332)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:242)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:230)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:186)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:750)

In [8]:
df.album.printSchema()

root
 |-- AlbumId: integer (nullable = true)
 |-- Title: string (nullable = true)
 |-- ArtistId: integer (nullable = true)

In [9]:
df.artist.printSchema()

root
 |-- ArtistId: integer (nullable = true)
 |-- Name: string (nullable = true)

In [10]:
df.invoice.printSchema()

root
 |-- InvoiceId: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- BillingAddress: string (nullable = true)
 |-- BillingCity: string (nullable = true)
 |-- BillingState: string (nullable = true)
 |-- BillingCountry: string (nullable = true)
 |-- BillingPostalCode: string (nullable = true)
 |-- Total: decimal(10,2) (nullable = true)

In [11]:
df.invoiceline.printSchema()

root
 |-- InvoiceLineId: integer (nullable = true)
 |-- InvoiceId: integer (nullable = true)
 |-- TrackId: integer (nullable = true)
 |-- UnitPrice: decimal(10,2) (nullable = true)
 |-- Quantity: integer (nullable = true)

In [12]:
df.customer.printSchema()

root
 |-- CustomerId: integer (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- PostalCode: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Fax: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- SupportRepId: integer (nullable = true)

## Start querying

### join example

In [13]:
df.album.join(
    df.artist, df.album.ArtistId == df.artist.ArtistId, "inner"
).select(
    df.album.AlbumId, df.album.Title, df.artist.Name.alias("ArtistName")
).show()

+-------+--------------------+--------------------+
|AlbumId|               Title|          ArtistName|
+-------+--------------------+--------------------+
|    228|    Heroes, Season 1|              Heroes|
|    308|Tchaikovsky: 1812...|Antal Dor�ti & Lo...|
|     83|My Way: The Best ...|       Frank Sinatra|
|    209|       Live [Disc 1]|    The Black Crowes|
|    210|       Live [Disc 2]|    The Black Crowes|
|    319|Armada: Music fro...|            Fretwork|
|     38|  Heart of the Night|          Spyro Gyra|
|    204|       Morning Dance|          Spyro Gyra|
|    325|Bartok: Violin & ...|      Yehudi Menuhin|
|    205|             In Step|Stevie Ray Vaugha...|
|     67|Vault: Def Leppar...|         Def Leppard|
|    161|          Demorou...|     M�nica Marianno|
|    248|    Ao Vivo [IMPORT]|      Zeca Pagodinho|
|    277|Bach: Goldberg Va...|      Wilhelm Kempff|
|    142|Lulu Santos - RCA...|         Lulu Santos|
|    143|Lulu Santos - RCA...|         Lulu Santos|
|    175|Walking Into Clar...|        Page & Plant|
|    192|         Raul Seixas|         Raul Seixas|
|     72|The Cream Of Clapton|        Eric Clapton|
|     73|           Unplugged|        Eric Clapton|
+-------+--------------------+--------------------+
only showing top 20 rows

### aggregate example

In [14]:
tables = [
    "traffic_vs_garage",
    "percent_above_60km",
    "qty_bus_running_by_company",
    "qty_bus_running_by_line"
]

+----+----------+-----+
|Year|CustomerId|Total|
+----+----------+-----+
|2009|        31| 8.91|
|2010|        31| 1.98|
|2011|        31|10.89|
|2013|        31|15.84|
|2009|        53|15.84|
|2010|        53| 8.91|
|2011|        53| 1.98|
|2012|        53| 9.90|
|2013|        53| 0.99|
|2009|        34|11.88|
|2010|        34| 0.99|
|2011|        34| 1.98|
|2012|        34|24.77|
|2009|        28|15.84|
|2010|        28| 8.91|
|2012|        28|17.88|
|2013|        28| 0.99|
|2009|        26| 1.98|
|2010|        26| 9.90|
|2011|        26| 0.99|
+----+----------+-----+
only showing top 20 rows

### window example

In [15]:
window = Window.partitionBy(
    "Year"
).orderBy(
    desc("Total")
)

In [18]:
dff.withColumn(
    "idx", row_number().over(window)
).filter(
    col("idx").isin(1, 2, 3)
).select(
    col("Year"), col("CustomerId"), col("Total"), col("idx").alias("Rank")
).show()

+----+----------+-----+----+
|Year|CustomerId|Total|Rank|
+----+----------+-----+----+
|2013|         6|27.84|   1|
|2013|        35|24.75|   2|
|2013|        56|24.75|   3|
|2012|        26|25.84|   1|
|2012|        34|24.77|   2|
|2012|        13|24.75|   3|
|2009|        40|24.75|   1|
|2009|        19|24.75|   2|
|2009|         2|24.75|   3|
|2010|        45|32.75|   1|
|2010|         7|27.77|   2|
|2010|         3|26.75|   3|
|2011|        46|32.75|   1|
|2011|         8|24.75|   2|
|2011|        29|24.75|   3|
+----+----------+-----+----+